<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-gb">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Funny Stuff Gina Says</title>
<style>
* { font-family: verdana, sans-serif; }
h1 { font-size: 1.6em; }
h2 { font-size: 1.2em; }
h2.title { margin-bottom: 4px; }
p { margin-bottom: 0px; }
.date { font-size: 0.6em; }
a { color: #aaa; }
#footer { font-size: 0.4em; display:none; }
</style>
</head>

<body>
<div id="wrap">
	<h1>Funny Stuff Gina Says</h1>

	{{ content }}
</div>

<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-35984443-1']);
	_gaq.push(['_trackPageview']);
	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>

<div id="footer">
	All writing contained within this site can be reused for any purpose. Any reference to persons alive or dead is purely coincidental. 2012 mafro.
</div>

</body>
</html>
